.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    background: linear-gradient(135deg, #797979 0%, #292929 25%, #000000 50%, #2e2e2e 75%, #636363 100%);
}

.title {
    color: white;
    font-size: 8rem;
    text-align: center;
    font-family: var(--font-roboto-mono);
    font-weight: 600;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0070f3;
    color: white;
    width: 20rem;
    height: 3.5rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
}